# Baseline model

Esta notebook presenta como utilizar el dataset con un modelo dado

## Importo el dataset

In [12]:
import pandas as pd
import numpy as np

In [13]:
train = pd.read_csv("data/train.csv", index_col = "Unnamed: 0")
test = pd.read_csv("data/test.csv", index_col = "Unnamed: 0")

In [14]:
y_train, y_test = train.drop('target', axis = 1, inplace = True), test.drop('target', axis = 1, inplace = True)
X_train, X_test = train, test

In [15]:
X_test

,genero_Hombre,genero_Mujer,genero_Otro,barrio_completo_Agronomia,barrio_completo_Almagro,barrio_completo_Balvanera,barrio_completo_Barracas,barrio_completo_Belgrano,barrio_completo_Boca,barrio_completo_Boedo,...,pregunta_10_B,pregunta_10_C,pregunta_11_A,pregunta_11_B,pregunta_11_C,pregunta_12_A,pregunta_12_B,pregunta_12_C,edad_scaled,poblacion_por_barrio_scaled
2526,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,1,0.603011,0.841805
2547,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,1.171439,1.442089
1359,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,0,0.603011,-0.842106
3326,1,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,1,0,0,1.171439,0.725029
4272,1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0.261955,-0.762268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2379,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0.489326,-0.346044
5505,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,1.398810,0.042386
223,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0.603011,-0.930008
4155,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,1.285124,2.257408
1719,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,2.080923,0.638986